@{
    ViewData["Title"] = "Home Page";
}

<div class="alert alert-info" style="overflow: hidden;margin-top: 62px">
    <h1>به مهمانی ما خوش آمدید !</h1>
    <p>جهت شرکت در این مهمانی باید ابتدا ثبت نام کنید !</p>
    <p>
        <a asp-action="Create" asp-controller="Home" asp-area="" class="btn btn-success pull-left">ثبت نام در مهمانی</a>
    </p>
</div>