@model Guest
@{
    ViewData["Title"] = "SuccessRegister";
}

<div class="alert alert-success" style="overflow: hidden;margin-top: 62px">
    <h2>@Model.Name @Model.Family با تشکر از ثبت نام شما !</h2>
    @if (Model.WillAttend != null && Model.WillAttend == true)
    {
        <p>
            خیلی خوشحالیم که شما را در مهمانی خواهیم دید .
        </p>
    }
    else
    {
        <p class="text-danger">
            متاسفیم که نمیتوانیم شما را ببینیم . .
        </p>
    }
    <p>
        <a asp-action="List" class="btn btn-primary pull-left">لیست مهمانان</a>
    </p>
</div>

